<div class="container">
  <form method="POST" action="/blogs/<%= blog._id %>">

    <%# for methodOverride %>
    <input type="hidden" name="_method" value="PUT">
    <div class="field">
      <label class="label">Category</label>
      <select name="category">
        <option selected disabled>Please choose</option>
        <% categories.forEach(category => { %>
          <option value="<%= category._id %>"><%= category.name %></option>
        <% }) %>
      </select>
    </div>
    <div class="field">
      <label class="label">Title</label>
      <div class="control">
        <input class="input" name="title" type="text" placeholder="Name" value="<%= blog.title %>" required>
      </div>
    </div>
    <div class="field">
      <label class="label">Blogger</label>
      <div class="control">
        <input class="input" name="blogger" type="text" placeholder="Name of Blogger" value="<%= blog.blogger %>" required>
      </div>
    </div>
    <div class="field">
      <label class="label">Image</label>
      <div class="control">
        <input class="input" name="image" type="text" placeholder="Image" value="<%= blog.image %>" required>
      </div>
    </div>
    <div class="field">
      <label class="label">Description</label>
      <div class="control">
        <textarea class="textarea" name"description" placeholder="Description (100 chars max)" maxlength="100"><%= blog.tastingNotes %></textarea>
      </div>
    </div>
    <div class="field">
      <label class="label">Blog</label>
      <div class="control">
        <textarea class="textarea" name"article" placeholder="Blog (3000 chars max)" maxlength="3000"><%= blog.tastingNotes %></textarea>
      </div>
    </div>
    <div class="control">
      <button class="button is-primary">Submit</button>
    </div>
  </form>
</div>
