
<form>
  <select name="category">
    <% categories.forEach(category => { %>
      <option value="<%= category._id %>"<% if(category._id.equals(selectedCategory)) {%> selected<%} %>><%= category.name %></option>
    <% }) %>
  </select>
  <button>Go</button>
</form>

<main class="container">
  <div class="columns is-multiline">
    <% blogs.forEach(blog => { %>
      <div class="column is-one-quarter-desktop is-half-tablet">
        <a href="/blogs/<%= blog._id %>">
          <div>
            <div>
              <figure class="grey">
                <img src="<%= blog.image %>" alt="<%= blog.name %>" />
              </figure>
            </div>
            <div>
              <h2 class="subtitle bold marker sub"><%= blog.title %></h2>
              <h4 class="subtitle bold italic">By <%= blog.blogger %></h4>
            </div>
          </div>
        </a>
      </div>
    <% }) %>
  </div>
</main>
