
<form>
  <select name="category">
    <% categories.forEach(category => { %>
      <option value="<%= category._id %>"<% if(category._id.equals(selectedCategory)) {%> selected<%} %>><%= category.name %></option>
    <% }) %>
  </select>
  <button>Go</button>
</form>

<main class="container">
  <div class="columns is-multiline tile is-ancestor">
    <% blogs.forEach(blog => { %>
      <div class="column is-one-quarter-desktop is-half-tablet tile is-parent">
        <a href="/blogs/<%= blog._id %>">
          <div class="card tile is-child">
            <div class="card-image">
              <figure class="image">
                <img src="<%= blog.image %>" alt="<%= blog.name %>" />
              </figure>
            </div>
            <div class="card-content">
              <h2 class="title"><%= blog.title %></h2>
              <h2 class="subtitle italic"><%= blog.category.name %></h2>
              <h4 class="subtitle">By <%= blog.blogger %></h4>
              <h4><%= blog.description %></h>
            </div>
          </div>
        </a>
      </div>
    <% }) %>
  </div>
</main>
