<div class="container">
  <div class="columns">
    <div class="column">
      <figure class="image">
        <img src="<%= blog.image %>" alt="<%= blog.name %>">
      </figure>
    </div>
    <div class="column">
      <h3 class="title"><%= blog.name %></h3>
      <h4 class="subtitle"><%= blog.origin %></h4>
      <div class="icon is-small">
        <i class="fa fa-pencil"></i>
      </div>
      <h2 class="title"><%= blog.title %></h2>
      <h4 class="subtitle"><%= blog.blogger %></h4>
      <h4><%= blog.description %></h>
      <p><br><%= blog.article %></p>


      <% if(locals.isAuthenticated) { %>
        <a href="/blogs/<%= blog._id %>/edit" class="button is-primary">Edit</a>

        <form method="POST" action="/blogs/<%= blog._id %>">
          <input type="hidden" name="_method" value="DELETE">
          <button class="button is-danger">Delete</button>
        </form>

        <hr />

        <ul class="comments">
          <h2 class="subtitle">Comments</h2>
          <% blog.comments.forEach(comment => { %>
            <li>
              <div class="box">
                <% if(comment.isOwnedBy(locals.currentUser || locals.currentUser.isAdmin)) { %>
                  <form class="delete" method="POST" action="/blogs/<%= blog._id %>/comments/<%= comment._id %>">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="delete">x</button>
                  </form>
                <% } %>
                <% if(locals.currentUser.isAdmin){ %>
                  <form class="delete" method="POST" action="/blogs/<%= blog._id %>/comments/<%= comment._id %>/moderate">
                    <input type="hidden" name="_method" value="PATCH">
                    <button class="moderate">Moderate</button>
                  </form>
                <% } %>

                <% if(comment.isModerated){ %>
                  <article class="media">
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <%= comment.content %>
                        </p>
                        <% if(comment.user) { %>
                        <strong><%= comment.user.username %></strong>
                        <% } %>
                      </div>
                    </div>
                  </article>
                <% } %>

              </div>
            </li>
          <% }) %>
        </ul>

        <form method="POST" action="/blogs/<%= blog._id %>/comments">
        <textarea class="textarea" name="content"></textarea>
        <button class="button is-primary">Submit</button>
        </form>
      <% } %>
    </div>
  </div>
</div>
